@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&family=Spectral+SC:wght@300;500;600&display=swap);
@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

/*--------------------*/
body {
  height: 100%;
  color: #424242;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6875rem;
  background-color: #FFFFFF;
}

a {
  color: inherit;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.checkbox {
  position: relative;
}
.checkbox__inp {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.checkbox__inp:checked + .checkbox__label::before {
  background: url(/3e339b138b5cc84e1e3f.svg) center no-repeat;
  background-size: 8px 8px;
  border-color: #976464;
}
.checkbox__label {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
}
.checkbox__label::before {
  content: "";
  align-self: flex-start;
  margin: 0px 8px 0px 0px;
  flex: 0 0 14px;
  left: 0;
  top: 0;
  height: 14px;
  background: transparent;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
}
.checkbox a {
  color: #fff;
  text-decoration: underline;
}
@media (any-hover: hover) {
  .checkbox a:hover {
    text-decoration: none;
  }
}
.checkbox._error .checkbox__text::before {
  border: 1px solid #ee1212;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 1.875rem;
  line-height: 0.75;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  letter-spacing: 0.2666666667em;
  position: relative;
}
.rating__body::before {
  content: "★★★★★";
  display: block;
}
.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}
.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}
.rating__value {
  display: none;
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}
.rating__info {
  color: #ababab;
  font-size: 1rem;
}

.product-filtr__item {
  padding-top: 0.375em;
  padding-bottom: 1.3125em;
  border-bottom: 1px solid #BDBDBD;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
.product-filtr__title {
  width: 100%;
  cursor: pointer;
  text-align: left;
  margin-bottom: 0.625rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-filtr__title._spoller-active svg {
  transform: rotate(90deg);
}
.product-filtr__title span {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}
.product-filtr__title svg {
  transform: rotate(-90deg);
}
.product-filtr__body {
  width: 100%;
}
.product-filtr__body :not(:last-child) {
  margin-bottom: 0.6875em;
}
._spoller-init .product-filtr {
  cursor: pointer;
}
._spoller-init .product-filtr::before, ._spoller-init .product-filtr::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  transition: transform 0.5s ease 0s;
}
._spoller-init .product-filtr::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
._spoller-init .product-filtr::after {
  transform: translate(0, -50%) rotate(-40deg);
}
._spoller-init .product-filtr._spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
._spoller-init .product-filtr._spoller-active::after {
  transform: rotate(40deg);
}

[data-fullscreen] {
  height: 100vh;
}
.touch [data-fullscreen] {
  height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    transition: height 0.2s;
  }
}

[class*=__image-ibg] {
  position: relative;
}
[class*=__image-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.price__common {
  font-family: "GothaProLig";
  font-weight: 300;
}

.top-header__item {
  font-family: "GothaProReg";
  font-weight: 400;
}

h2, h1, [class*=__button], .catalog-list__title, .text-content__title, .slide__title {
  font-family: "Spectral";
  font-style: normal;
  font-weight: 600;
}

.header__body {
  position: relative;
  padding: 2.8125rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header {
  padding: 0.8125rem 0;
  min-height: 2.8125em;
  background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
}
.top-header__list {
  display: flex;
  justify-content: space-between;
}
.top-header__list:last-child {
  margin-right: 0;
}
.top-header__item {
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  position: relative;
}
.top-header__item a {
  display: flex;
  align-items: center;
}
.top-header__item svg {
  margin-right: 9px;
  fill: #fff;
}
.top-header__item::after {
  content: "";
  position: absolute;
  bottom: -0.125em;
  left: 0;
  width: 100%;
  height: 0.125em;
  background-color: #ffff;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(0);
  transform-origin: center;
}
.top-header__item:hover::after {
  transform: scale(1);
}

@media (max-width: 47.99875em) {
  .top-header__item span {
    display: none;
  }
}
.menu {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
@media (max-width: 1620px) {
  .menu__list {
    gap: calc(15px + 10 * ((100vw - 320px) / 1300));
  }
}
.menu__item {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  transition: all 0.5s;
  position: relative;
}
.menu__item::after {
  content: "";
  position: absolute;
  bottom: -0.125em;
  left: 0;
  width: 100%;
  height: 0.125em;
  background-color: #976464;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(0);
  transform-origin: center;
}
.menu__item:hover::after {
  transform: scale(1);
}

.logo {
  margin: 0 auto;
  padding: 0 15px;
}

.buttons {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 1620px) {
  .buttons {
    gap: calc(15px + 35 * ((100vw - 320px) / 1300));
  }
}
.buttons__item {
  padding: 0.625rem 1.25rem;
  max-width: 198px;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  display: flex;
  justify-content: center;
}
.buttons__item svg {
  fill: #976464;
}
.buttons__item input {
  max-width: 90%;
}
.buttons__item button {
  padding: 0 1.25rem;
}
.buttons__item a {
  text-transform: capitalize;
  margin-left: 6px;
}

.item {
  position: relative;
}
.item__favorite-value, .item__cart-value {
  position: absolute;
  padding: 0.125rem 0.3125rem;
  top: -25%;
  right: 10%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #D3D3B5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 12px;
  color: #5E5C5A;
}

.burger {
  display: none;
}

@media (max-width: 47.99875em) {
  .burger {
    display: block;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    top: 2.5rem;
    left: 0rem;
    z-index: 50;
  }
  .burger::before, .burger::after,
.burger span {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: #CFA5A5;
  }
  .burger::before {
    top: 0px;
  }
  .burger::after {
    bottom: 0px;
  }
  .burger span {
    top: 50%;
  }

  .burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 248, 248, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 2;
  }

  .menu._active {
    left: 0;
  }

  .menu__list {
    flex-direction: column;
  }
  .menu__list a {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .menu__list :not(:last-child) {
    margin: 0 0 25px 0;
  }
}
.footer {
  padding-top: 64px;
  padding-bottom: 64px;
  background: linear-gradient(267.48deg, #ECECD5 56.22%, #D7D7B9 130.03%);
}
@media (max-width: 1620px) {
  .footer {
    padding-top: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 1620px) {
  .footer {
    padding-bottom: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 7.5%;
}
.footer__body {
  flex: 1 1 28%;
}
.footer__logo {
  margin-bottom: 3.3125em;
}

.contacts-list a, .contacts-list span {
  display: flex;
}
.contacts-list__item {
  width: 100%;
  margin-bottom: 19px;
}
.contacts-list__icon {
  fill: #424242;
  margin-right: 5px;
}

.menu-footer {
  flex: 1 1 28%;
}
.menu-footer__list {
  column-count: 2;
  column-width: 177px;
}
.menu-footer__item {
  margin-bottom: 38px;
}
.menu-footer__link {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  position: relative;
}
.menu-footer__link::after {
  content: "";
  position: absolute;
  bottom: -0.125em;
  left: 0;
  width: 100%;
  height: 0.0625em;
  background-color: #424242;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(0);
  transform-origin: center;
}
.menu-footer__link:hover::after {
  transform: scale(1);
}

.subscribe {
  flex: 1 1 28%;
}
.subscribe__title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 1.9375em;
}
.subscribe__form {
  position: relative;
  display: flex;
  max-width: 28.75em;
  min-height: 3.125em;
  margin-bottom: 0.5em;
}
.subscribe__input {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 76px;
}
.subscribe__button {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.8125rem 2.8125rem;
}
.subscribe__text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-bottom: 2.5em;
}
.subscribe__text-copy {
  font-size: 1rem;
  line-height: 1.375rem;
}

@media (max-width: 1200px) {
  .subscribe__form {
    position: static;
    flex-direction: column;
    align-items: center;
  }
  .subscribe__input {
    margin-bottom: 0.5em;
  }
  .subscribe__button {
    position: static;
  }
}
@media (max-width: 29.99875em) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .menu-footer__link {
    font-size: 1.25rem;
  }
}
.page-top {
  position: relative;
  min-height: 28.875em;
  border-radius: 20.7544px;
  background-image: url(/0c8badd9d75b619346f7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 104% 114%;
}
.page-top::before {
  position: absolute;
  content: "";
  top: -12%;
  right: 10%;
  width: 150px;
  height: 150px;
  background-image: url(/d8746b959e2e20dbcc7a.png);
  background-position: center;
  background-size: contain;
  animation: rotate-hits 30s infinite linear;
}
.page-top__body {
  width: 100%;
  height: 100%;
  padding-top: 11px;
  padding-bottom: 26px;
  padding-right: 175px;
  padding-left: 130px;
}
@media (max-width: 1620px) {
  .page-top__body {
    padding-right: calc(11px + 164 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 1620px) {
  .page-top__body {
    padding-left: calc(11px + 119 * ((100vw - 320px) / 1300));
  }
}

@keyframes rotate-hits {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.slider-top {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.slider-top__button {
  max-width: 185px;
}
.slider-top__button a {
  padding: 0.9375rem 2.8125rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.slider-top__nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 34px;
  right: 175px;
}
.slider-top__arrow-next {
  transform: rotate(180deg);
}

.slide {
  position: relative;
  display: flex;
  column-gap: 120px;
}
@media (max-width: 1620px) {
  .slide {
    column-gap: calc(40px + 80 * ((100vw - 320px) / 1300));
  }
}
.slide__image {
  position: relative;
  flex: 1 1 35%;
  min-height: 425px;
  width: 100%;
}
@media (max-width: 1620px) {
  .slide__image {
    min-height: calc(212px + 213 * ((100vw - 320px) / 1300));
  }
}
.slide__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.slide__content {
  flex: 1 1 27%;
}
.slide__title {
  margin: 5.5625rem 0 3rem 0;
  font-size: 1.75rem;
  line-height: 2.6875rem;
  text-transform: uppercase;
}
.slide__text {
  position: relative;
  margin-bottom: 3rem;
  color: rgba(94, 92, 90, 0.8);
}
.slide__text::before {
  position: absolute;
  content: "";
  background-image: url(/3b2ca0c8081c15a45874.svg);
  top: 80%;
  left: -33%;
  width: 102.37px;
  height: 105.52px;
  z-index: 5;
}

@media (max-width: 1140px) {
  .slide {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.875em;
  }
  .slide__text::before {
    display: none;
  }

  .page-top::before {
    display: none;
  }
}
@media (max-width: 29.99875em) {
  .slider-top__nav {
    bottom: 0;
  }
}
.catalog-list {
  flex: 1 1 24%;
}
.catalog-list__item {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
  border-radius: 20px;
}
.catalog-list__item a {
  padding: 0.625rem 1.5625rem 0.625rem 2.8125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
  transition: background 5s ease;
}
.catalog-list__item:hover {
  background: linear-gradient(59.75deg, #C5C5A8 -2.61%, #E2E1CF 76.3%, #E2E1CF 76.3%);
  box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
  transition: background 5s ease;
}
.catalog-list__subtitle {
  font-weight: 600;
  line-height: 1.375rem;
}
.catalog-list__image {
  position: relative;
  width: 9.375em;
  height: 5.625em;
}
.catalog-list__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page__slider {
  padding-top: 34px;
  padding-bottom: 64px;
}
@media (max-width: 1620px) {
  .page__slider {
    padding-top: calc(20px + 14 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 1620px) {
  .page__slider {
    padding-bottom: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}

.switch {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
@media (max-width: 1620px) {
  .switch {
    margin-bottom: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}
.switch__title {
  color: #5E5C5A;
}
.switch__title.title-active {
  color: #976464;
}
.switch__btn {
  position: relative;
  margin: 0 40px;
  width: 72px;
  height: 34px;
  background: #E9E9E9;
  border-radius: 65px;
}
.switch__btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
  z-index: 2;
}

.slider-page {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1720px;
  position: relative;
  background-color: #fff;
}
.slider-page__sliders {
  width: 100%;
}
.slider-page__slide {
  position: relative;
  width: 300px;
  height: 487px;
  overflow: hidden;
  border-radius: 20px;
}
.slider-page__slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transform: scale(1.14);
  filter: drop-shadow(0px 0px 30px rgba(68, 68, 68, 0.05));
}
.slider-page__slide::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(80, 80, 80, 0.08) 50.1%, rgba(46, 46, 46, 0.59) 100%);
  border-radius: 20px;
  background-position: center;
  background-size: contain;
  z-index: 2;
}
.slider-page__slide span {
  position: absolute;
  left: 34px;
  bottom: 24px;
  font-weight: 600;
  line-height: 1.375rem;
  color: #FFFFFF;
  z-index: 5;
}
.slider-page__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.slider-page__arrow-prev, .slider-page__arrow-next {
  position: absolute;
  top: 50%;
  z-index: 20;
}
.slider-page__arrow-prev {
  left: -10px;
}
.slider-page__arrow-next {
  transform: rotate(180deg);
  right: -10px;
}

.page-catalog {
  position: relative;
}
.page-catalog::before {
  position: absolute;
  content: "каталог";
  font-size: 15.375rem;
  line-height: 21.875rem;
  text-transform: uppercase;
  color: rgba(94, 92, 90, 0.03);
  width: 1188px;
  height: 350px;
  left: -130px;
  top: -52px;
}

.category__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 40px;
}

@media (max-width: 29.99875em) {
  .category__cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .card-category__fon {
    opacity: 0.5;
  }
}
.card-category {
  position: relative;
  max-width: 375px;
  min-height: 280px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
  border-radius: 20px;
  overflow: hidden;
  transition: background 5s ease;
}
.card-category:hover {
  background: linear-gradient(59.75deg, #C5C5A8 -2.61%, #E2E1CF 76.3%, #E2E1CF 76.3%);
  box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
  transition: background 5s ease;
}
.card-category:hover .card-category__description {
  color: #FFFFFF;
  transform: scale(1.2);
}
.card-category__fon {
  position: absolute;
  right: -11%;
  bottom: -5%;
}
.card-category__content {
  padding: 2.125rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.card-category__title {
  margin-bottom: 5px;
  font-size: 1rem;
  line-height: 1.4375rem;
}
.card-category__price {
  color: rgba(94, 92, 90, 0.8);
}
.card-category__description {
  position: absolute;
  bottom: 2.125rem;
  left: 2rem;
  font-weight: 600;
  color: #976464;
  cursor: pointer;
  z-index: 2;
  transition: all 0.5s ease 0s;
}

.benefits-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 80px;
  row-gap: 1.25em;
}
@media (max-width: 1620px) {
  .benefits-cards {
    column-gap: calc(20px + 60 * ((100vw - 320px) / 1300));
  }
}
.benefits-cards__card {
  padding-left: 2.5em;
  display: flex;
  column-gap: 1.375em;
  flex-wrap: wrap;
}
.benefits-cards__icon {
  position: relative;
  z-index: 2;
  margin-bottom: 1.25em;
}
.benefits-cards__icon::before {
  position: absolute;
  content: "";
  width: 6.5em;
  height: 6.1875em;
  top: -10%;
  left: -60%;
  background-image: url(/c3bcbd23afaf58691040.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.benefits-cards__content {
  flex: 0 1 21.25em;
}
.benefits-cards__title {
  margin-bottom: 0.5em;
}

.page-instagramm {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.page-instagramm::before {
  position: absolute;
  content: "instagram";
  font-size: 15.375rem;
  line-height: 21.875rem;
  text-transform: uppercase;
  color: rgba(94, 92, 90, 0.03);
  transform: rotate(-90deg);
  width: 94em;
  height: 21.875em;
  right: -51.875em;
  top: 27.5em;
}
.page-instagramm__body {
  display: grid;
  grid-template-columns: repeat(4, 390px);
  gap: 30px;
  margin-bottom: 64px;
}
@media (max-width: 1620px) {
  .page-instagramm__body {
    margin-bottom: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}
.page-instagramm__foto {
  width: 390px;
  height: 390px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.page-instagramm__foto img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transform: scale(1.14);
}
.page-instagramm__foto-big {
  width: 800px;
  height: 800px;
  grid-row: span 2;
  grid-column: span 2;
}
.page-instagramm__button {
  padding: 0.8125rem 2.8125rem;
  text-transform: uppercase;
}
.page-instagramm__icons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 39px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
}
.page-instagramm__icon {
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 2.25rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.page-instagramm__icon svg {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-right: 11px;
}

.page-instagramm__foto:hover .page-instagramm__icons {
  opacity: 1;
}

.page-questions {
  padding-top: 64px;
  padding-bottom: 106px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1620px) {
  .page-questions {
    padding-top: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 1620px) {
  .page-questions {
    padding-bottom: calc(20px + 86 * ((100vw - 320px) / 1300));
  }
}
.page-questions::after {
  position: absolute;
  content: "вопросы";
  font-size: 15.375rem;
  line-height: 21.875rem;
  text-transform: uppercase;
  color: rgba(94, 92, 90, 0.03);
  width: 1504px;
  height: 350px;
  left: -130px;
  top: -72px;
  z-index: -1;
}

.form-questions {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 32px;
}
.form-questions__item {
  padding: 0.8125rem 2.8125rem;
}
.form-questions__text {
  max-width: 15em;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  position: absolute;
  right: 0%;
  bottom: -100%;
}

.catalog-page {
  padding-bottom: 98px;
}
@media (max-width: 1620px) {
  .catalog-page {
    padding-bottom: calc(20px + 78 * ((100vw - 320px) / 1300));
  }
}
.catalog-page__price-filtr {
  display: flex;
  justify-content: end;
  gap: 15px;
}
.catalog-page__price-filtr button {
  padding: 0.625rem 1.0625rem;
  border: 1px solid #BDBDBD;
  border-radius: 46px;
  color: #BDBDBD;
  font-style: 0.875rem;
  line-height: 1.0625rem;
}
.catalog-page__price-filtr button:hover {
  border-color: #976464;
  color: #976464;
  transition: all 0.5s ease 0s;
}
.catalog-page__price-filtr button:active {
  transition: all 0.5s ease 0s;
  background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
  color: #FFFFFF;
  transition: all 0.5s;
}
.catalog-page__price-ascending svg {
  transform: rotate(180deg);
}
.catalog-page__inner {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 56px;
}
@media (max-width: 1620px) {
  .catalog-page__inner {
    column-gap: calc(20px + 36 * ((100vw - 320px) / 1300));
  }
}
.catalog-page__filtr {
  flex: 0 0 14.25em;
}
.catalog-page__cards {
  flex: 0 1 83.75em;
}

.product-filtr {
  margin-bottom: 1.3125em;
}

.filtr__btn :not(:last-child) {
  margin-bottom: 1em;
}

.filtr__button {
  width: 100%;
  padding: 0.9375rem 0;
  text-transform: uppercase;
}

.filtr__text {
  margin-top: 1.25em;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #BDBDBD;
}

.cards-catalog__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.3125em, 1fr));
  gap: 1.75rem;
}

.product-card {
  max-width: 15.3125em;
  min-height: 26.375em;
  padding: 1.25rem;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card__icons {
  min-height: 1.0625em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product-card__favorites, .product-card__more {
  cursor: pointer;
}
.product-card__favorites {
  stroke: #976464;
  fill: #FFFF;
  transition: all 0.5s ease 0s;
}
.product-card__favorites:hover {
  fill: #976464;
}
.product-card__more {
  display: flex;
  gap: 3px;
  align-items: center;
}
.product-card__more span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #976464;
}
.product-card__img {
  width: 100%;
  min-height: 176px;
  position: relative;
}
.product-card__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.product-card__img a {
  display: block;
  width: 100%;
  height: 100%;
}
.product-card__title {
  margin-bottom: 16px;
}
.product-card__description {
  font-size: 0.625rem;
  line-height: 0.75rem;
  text-transform: uppercase;
  color: #C4C4C4;
  margin-bottom: 16px;
}
.product-card__rating {
  display: flex;
  gap: 3px;
  align-items: center;
  margin-bottom: 16px;
}
.product-card__btn svg {
  margin-bottom: 0;
  margin-right: 8px;
  fill: #976464;
}
.product-card__btn:active svg {
  fill: #ffff;
}
.product-card__btn button {
  width: 100%;
  padding: 15px 0;
}

.color {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.color__list {
  display: flex;
  gap: 9px;
  align-items: center;
}
.color__list :nth-child(1) {
  background-color: #696837;
}
.color__list :nth-child(2) {
  background-color: #81292F;
}
.color__list :nth-child(3) {
  background-color: #D8C1AA;
}
.color__list :nth-child(4) {
  background-color: #EED53A;
}
.color__list :nth-child(5) {
  background-color: #EED737;
}
.color__list :nth-child(6) {
  background-color: #6F6D3A;
}
.color__list :nth-child(7) {
  background-color: #2C354E;
}
.color__list :nth-child(8) {
  background-color: #D2AD94;
}
.color__list :nth-child(9) {
  background-color: #8A8767;
}
.color__list :nth-child(10) {
  background-color: #0C0C0B;
}
.color__item {
  display: block;
  width: 1.0625em;
  height: 1.0625em;
  border-radius: 50%;
  cursor: pointer;
}
.color__link {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.color__link-more {
  margin-left: 4px;
  font-style: 1rem;
  line-height: 1.25rem;
}

._active {
  position: relative;
}
._active::after {
  content: "";
  position: absolute;
  width: 1.6875em;
  height: 1.6875em;
  top: -30%;
  left: -30%;
  border: 1px solid #BDBDBD;
  border-radius: 50%;
}

.price {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}
.price :not(:last-child) {
  margin-right: 0.6875rem;
}
.price__common {
  font-size: 0.875rem;
  line-height: 0.8125rem;
  text-decoration-line: line-through;
}
.price__discount {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #976464;
}

.product-page {
  padding-top: 72px;
  padding-bottom: 20px;
}
@media (max-width: 1620px) {
  .product-page {
    padding-top: calc(20px + 52 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 1620px) {
  .product-page {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 1300));
  }
}
.product-page__description {
  display: flex;
  gap: 45px;
  position: relative;
}
@media (max-width: 1620px) {
  .product-page__description {
    gap: calc(20px + 25 * ((100vw - 320px) / 1300));
  }
}
.product-page__description svg {
  position: absolute;
  right: 2.5rem;
  top: -1.25rem;
}
.product-page__image {
  flex: 1 1 46%;
}
.product-page__foto {
  position: relative;
  width: 100%;
  height: 560px;
}
@media (max-width: 1620px) {
  .product-page__foto {
    height: calc(280px + 280 * ((100vw - 320px) / 1300));
  }
}
.product-page__foto img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.product-page__color {
  justify-content: center;
}
.product-page__content {
  flex: 1 1 48%;
}
.product-page__title {
  margin-bottom: 1.5em;
}
.product-page__text {
  font-weight: 300;
  margin-bottom: 2.5em;
}

@media (max-width: 47.99875em) {
  .product-page__description {
    flex-direction: column;
    align-items: center;
  }
}
.specifications__title {
  margin-bottom: 2em;
}
.specifications__table {
  max-width: 430px;
}
.specifications__row {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  flex-wrap: wrap;
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 1.375em;
  line-height: 1.375rem;
}
.specifications__row + .specifications__row {
  margin-top: 1.625em;
}
.specifications__specification {
  font-weight: 600;
}
.specifications__bottom {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.specifications__price {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.125rem;
}
.specifications__number {
  display: flex;
  justify-content: space-between;
  gap: 0.8125rem;
  min-width: 5em;
  padding: 0.6875rem 0.875rem;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 46px;
}
.specifications__btn {
  text-transform: uppercase;
}
.specifications__btn span {
  padding: 0.8125rem 2.8125rem;
}

.reviews {
  padding: 1.25em 0;
}
.reviews__title {
  margin-bottom: 2em;
}
.reviews__slider {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1720px;
  background-color: #fff;
}
.reviews__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.reviews__arrow-prev, .reviews__arrow-next {
  position: absolute;
  top: 50%;
  z-index: 20;
}
.reviews__arrow-prev {
  left: -10px;
}
.reviews__arrow-next {
  transform: rotate(180deg);
  right: -10px;
}

.slide-reviews {
  display: flex;
  gap: 1.5rem;
  background: #FAF9F9;
  border-radius: 20px;
  padding: 2.5em;
}
.slide-reviews__foto {
  width: 3.625em;
  height: 3.625em;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.slide-reviews__foto img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.slide-reviews__content {
  flex: 0 0 80%;
}
.slide-reviews__body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.625rem;
  margin-bottom: 37px;
}
@media (max-width: 1620px) {
  .slide-reviews__body {
    margin-bottom: calc(15px + 22 * ((100vw - 320px) / 1300));
  }
}
.slide-reviews__title {
  flex: 1 1 10.625rem;
}
.slide-reviews__name {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 0.5rem;
}
.slide-reviews__date {
  flex: 1 1 12.1875rem;
}
.slide-reviews__date span {
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.0625rem 0;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #BDBDBD;
}
.slide-reviews__comment {
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.slide-reviews__comment span {
  font-weight: 600;
}

@media (max-width: 550px) {
  .reviews__btn {
    display: none;
  }

  .slide-reviews {
    flex-direction: column;
    align-items: center;
  }

  .slide-reviews__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.625rem;
  }
}
.see-also {
  padding-top: 1.25em;
  padding-bottom: 102px;
}
@media (max-width: 1620px) {
  .see-also {
    padding-bottom: calc(20px + 82 * ((100vw - 320px) / 1300));
  }
}
.see-also__title {
  margin-bottom: 2em;
}
.see-also__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.3125em, 1fr));
  gap: 1.75rem;
}

.content-page {
  padding-top: 64px;
  padding-bottom: 99px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}
@media (max-width: 1620px) {
  .content-page {
    padding-top: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 1620px) {
  .content-page {
    padding-bottom: calc(20px + 79 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 1620px) {
  .content-page {
    gap: calc(20px + 60 * ((100vw - 320px) / 1300));
  }
}

.text-content {
  flex: 1 1 56%;
}
.text-content__text {
  margin-bottom: 48px;
}
@media (max-width: 1620px) {
  .text-content__text {
    margin-bottom: calc(15px + 33 * ((100vw - 320px) / 1300));
  }
}
.text-content__text :not(:last-child) {
  margin-bottom: 2.1875rem;
}
.text-content__text-paragrap a {
  text-decoration: underline;
  color: #976464;
}
.text-content__text-item {
  position: relative;
}
.text-content__text-item::marker {
  content: "-";
  color: #424242;
  font-size: 1.5rem;
}

.catalog-list__title, .text-content__title {
  font-size: 1.75rem;
  line-height: 2.6875rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 1620px) {
  .catalog-list__title, .text-content__title {
    margin-bottom: calc(15px + 25 * ((100vw - 320px) / 1300));
  }
}

.about-image {
  max-width: 50em;
  min-height: 26.6875em;
  background: #C4C4C4;
  border-radius: 20px;
  margin-bottom: 2em;
}

.cabinet-page {
  padding-top: 64px;
  padding-bottom: 99px;
}
@media (max-width: 1620px) {
  .cabinet-page {
    padding-top: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 1620px) {
  .cabinet-page {
    padding-bottom: calc(20px + 79 * ((100vw - 320px) / 1300));
  }
}
.cabinet-page__title {
  margin-bottom: 3em;
}
.cabinet-page__content {
  padding: 3.5em 4em;
  max-width: 101.25em;
  min-height: 47.5em;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}
.cabinet-page__body {
  flex: 1 1 72.5%;
  padding-left: 50px;
  padding-bottom: 30px;
}
@media (max-width: 1620px) {
  .cabinet-page__body {
    padding-left: calc(10px + 40 * ((100vw - 320px) / 1300));
  }
}

.user-data {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  flex: 1 1 27%;
  border-right: 1px solid #BDBDBD;
  padding-right: 69px;
}
@media (max-width: 1620px) {
  .user-data {
    padding-right: calc(10px + 59 * ((100vw - 320px) / 1300));
  }
}
.user-data__wrap {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 2.5em;
}
.user-data__foto {
  width: 6.25em;
  height: 6.25em;
}
.user-data__name {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}
.user-data__btn {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.user-data__title {
  margin-bottom: 2.5em;
  font-weight: 600;
  line-height: 1.375rem;
  color: #BDBDBD;
  transition: all 0.5s ease 0s;
}
.user-data__title:hover {
  color: #FFFFFF;
  background: linear-gradient(59.75deg, #C5C5A8 -2.61%, #E2E1CF 76.3%, #E2E1CF 76.3%);
  border-radius: 20px;
  padding: 1.0625em 2em;
  transition: all 0.5s ease 0s;
  margin-bottom: 1.25em;
}
.user-data__exit {
  line-height: 1.375rem;
  color: #BDBDBD;
}

@media (max-width: 1123px) {
  .user-data {
    border-right: none;
  }
}
@media (max-width: 29.99875em) {
  .cabinet-page__content {
    padding: 1.75em 1em;
  }

  .user-data__wrap {
    flex-direction: column;
  }
}
.user-form__button {
  align-self: center;
  max-width: 17.375em;
  padding: 0.8125em 2.8125em;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__body {
  display: flex;
  gap: 2.5em;
  flex-wrap: wrap;
}
.form__body-left, .form__body-right {
  flex: 0 1 47%;
}
.form__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.4375em;
  border: 1px solid #BDBDBD;
  border-radius: 83px;
  padding: 1.0625rem 2rem;
  margin-bottom: 2.5em;
}
.form__label, .form__btn {
  white-space: nowrap;
}

@media (max-width: 1543.98px) {
  .form__body {
    flex-direction: column;
    gap: 0;
  }
}
@media (max-width: 47.99875em) {
  .cabinet-page__body {
    padding: 0;
  }

  .cabinet-page__content {
    padding: 0.9375em;
  }
}
.bonus__text {
  line-height: 1.5625rem;
}
.bonus__value {
  font-weight: 900;
  color: #976464;
}

.favorite-product__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.3125em, 1fr));
  gap: 1.25rem;
}

.order__body {
  background: #FAF9F9;
  border-radius: 20px;
  padding: 2em;
  margin-bottom: 2.5em;
}
.order__body-top, .order__body-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.9375em;
  line-height: 1.375rem;
}
.order__body-bottom {
  position: relative;
  margin-top: 1.125em;
  width: 100%;
}
.order__info a {
  white-space: nowrap;
}
.order__completed {
  display: flex;
  font-size: 1rem;
  line-height: 1.25rem;
}
.order__completed :not(:last-child) {
  margin: 0 0.6875rem 0 0;
}
.order__completed span {
  display: block;
}
.order__completed-status {
  font-weight: 600;
  color: #976464;
}
.order__completed-date {
  color: #BDBDBD;
}
.order__repeat-order {
  text-decoration-line: underline;
  color: #BDBDBD;
  position: absolute;
  right: 0;
  top: 0;
}

.details {
  width: 100%;
}
.details__title {
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #976464;
}
.details__icon {
  transform: rotate(-90deg);
  transition: transform 0.3s ease 0s;
}
.details__body {
  width: 100%;
}

._spoller-active svg {
  transform: rotate(90deg);
  transition: transform 0.3s ease 0s;
}

.order-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 0.9375em;
  column-gap: 250px;
}
@media (max-width: 1620px) {
  .order-card {
    column-gap: calc(20px + 230 * ((100vw - 320px) / 1300));
  }
}
.order-card__product, .order-card__info {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.order-card__product {
  flex: 1 1 45%;
}
.order-card__info {
  flex: 1 1 24.5%;
  justify-content: flex-end;
  column-gap: 137px;
}
@media (max-width: 1620px) {
  .order-card__info {
    column-gap: calc(20px + 117 * ((100vw - 320px) / 1300));
  }
}
.order-card__info span {
  white-space: nowrap;
}
.order-card__img {
  width: 10.6875em;
  height: 10.6875em;
}
.order-card__img img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: contain;
}
.order-card__title {
  font-weight: 600;
}
.order-card__price {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

@media (max-width: 600px) {
  .order__repeat-order {
    position: static;
  }

  .order__body-bottom {
    flex-direction: column;
  }
}
@media (max-width: 29.99875em) {
  .order-card__product,
.order-card {
    flex-direction: column;
  }

  .details__order-card {
    margin-bottom: 1.875em;
  }
}
.mailing span {
  display: block;
}
.mailing__text {
  margin-bottom: 3.5em;
  line-height: 1.375rem;
}
.mailing__text-bold {
  font-weight: 600;
  line-height: 1.375rem;
  margin-bottom: 1.9375em;
}
.mailing button {
  padding: 0.8125rem 2.8125rem;
  text-transform: uppercase;
}

.my-feedback__card {
  padding: 1.5rem 2rem;
  background: #FAF9F9;
  border-radius: 20px;
  margin-bottom: 1.5em;
}
.my-feedback__rating {
  margin-bottom: 0.375em;
}
.my-feedback__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.my-feedback__img {
  width: 10.5em;
  height: 10.5em;
  border-radius: 50%;
  overflow: hidden;
}
.my-feedback__title {
  font-weight: 600;
  line-height: 1.375rem;
  margin-bottom: 1em;
}
.my-feedback__text {
  max-width: 34.6875em;
  margin-bottom: 1.25em;
}
.my-feedback__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.my-feedback__date {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 12.1875em;
  height: 3.125em;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 76px;
  padding: 1.0625rem 2.8125rem;
}
.my-feedback__date span {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #BDBDBD;
}

.user-cart {
  padding-top: 64px;
  margin-bottom: 64px;
}
@media (max-width: 1620px) {
  .user-cart {
    padding-top: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 1620px) {
  .user-cart {
    margin-bottom: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}
.user-cart__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
  max-width: 67.125em;
}
.user-cart__del {
  font-size: 1rem;
  line-height: 1.25rem;
  text-decoration-line: underline;
  color: #BDBDBD;
}
.user-cart__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25em;
}
.user-cart__product-cards {
  flex: 1 1 66%;
}
.user-cart__order-info {
  flex: 1 1 32%;
}

.card-user-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 61px;
  padding: 1.5em;
  border-top: 1px solid #BDBDBD;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}
@media (max-width: 1620px) {
  .card-user-cart {
    gap: calc(20px + 41 * ((100vw - 320px) / 1300));
  }
}
.card-user-cart__product {
  flex: 1 1 48%;
  display: flex;
  align-items: center;
  gap: 1.25em;
}
.card-user-cart__img {
  position: relative;
  width: 10.875em;
  height: 10.625em;
}
.card-user-cart__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-user-cart__title {
  line-height: 1.375rem;
}
.card-user-cart__price, .card-user-cart__summ, .card-user-cart__number {
  white-space: nowrap;
}
.card-user-cart__number {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #BDBDBD;
  padding: 0.6875em 0.875em;
  border: 1px solid #BDBDBD;
  border-radius: 46px;
}
.card-user-cart__number span,
.card-user-cart__number button {
  display: inline-block;
}
.card-user-cart__number span {
  margin: 0 0.75em;
}
.order-info {
  padding: 2.875em 2.5em;
  background: #FAF9F9;
  border-radius: 20px;
}
.order-info__line {
  border-bottom: 1px solid #EFEFEF;
  max-width: 14.25em;
}
.order-info__row {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  gap: 0.25em;
  font-weight: 600;
  margin-bottom: 1em;
}
.order-info__row:nth-child(3) {
  padding-top: 1em;
}
.order-info__product-number, .order-info__sale {
  line-height: 1.375rem;
}
.order-info__price-value, .order-info__sale-value {
  font-size: 24px;
  line-height: 1.8125rem;
}
@media (max-width: 1620px) {
  .order-info__price-value, .order-info__sale-value {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1300));
  }
}
.order-info__cost-value, .order-info__price-value, .order-info__sale-value {
  white-space: nowrap;
}
.order-info__bonus-text, .order-info__cost-text {
  font-size: 16px;
  line-height: 1.25rem;
}
@media (max-width: 1620px) {
  .order-info__bonus-text, .order-info__cost-text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1300));
  }
}
.order-info__bonus-value {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.8125rem;
  color: #976464;
}
@media (max-width: 1620px) {
  .order-info__bonus-value {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1300));
  }
}
.order-info__cost {
  text-align: right;
}
.order-info__cost-value {
  font-weight: 500;
  font-size: 52px;
  line-height: 63px;
}
@media (max-width: 1620px) {
  .order-info__cost-value {
    font-size: calc(16px + 36 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 1620px) {
  .order-info__cost-value {
    line-height: calc(32px + 31 * ((100vw - 320px) / 1300));
  }
}
.order-info__button {
  margin-top: 0.5625em;
  padding: 0.8125em 0;
  width: 100%;
}

@media (max-width: 29.99875em) {
  .card-user-cart__product {
    flex-direction: column;
  }
}
button, input {
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}

[class*=__button] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1.78665px solid #BDBDBD;
  border-radius: 428.797px;
  color: #BDBDBD;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
[class*=__button]:hover {
  border-color: #976464;
  color: #976464;
  transition: all 0.5s ease 0s;
}
[class*=__button]:active {
  transition: all 0.5s ease 0s;
  background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
  color: #FFFFFF;
  transition: all 0.5s;
}

[class*=__input] {
  padding: 1.0625rem 2rem;
  border: 1px solid #BDBDBD;
  border-radius: 46px;
}
[class*=__input] input::placeholder {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #BDBDBD;
}

.page-section {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media (max-width: 1620px) {
  .page-section {
    padding-top: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 1620px) {
  .page-section {
    padding-bottom: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}
.page-section__title {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
@media (max-width: 1620px) {
  .page-section__title {
    margin-bottom: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}

h1 {
  font-size: 1.75rem;
  line-height: 2.6875rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.3125rem;
  text-transform: uppercase;
}

h3 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.125rem;
}

h4 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.tabs-title {
  margin: 1.875em 0 2.5em 0;
}

.breadcrumbs-page {
  padding-top: 64px;
}
@media (max-width: 1620px) {
  .breadcrumbs-page {
    padding-top: calc(20px + 44 * ((100vw - 320px) / 1300));
  }
}
.breadcrumbs-page__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.breadcrumbs-page__item {
  position: relative;
}
.breadcrumbs-page__item a::after {
  content: "";
  position: absolute;
  margin: 0 0.5rem;
  background: url(/5afc2f77fd16c9e0a8c3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 3px;
  left: 100%;
  top: 44%;
}
.hystmodal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 1;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  z-index: 99;
  visibility: hidden;
}
.hystmodal__opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}
.hystmodal__shadow {
  position: fixed;
  border: none;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 98;
  opacity: 0;
  transition: opacity 0.15s ease;
  background-color: black;
}
.hystmodal__shadow--show {
  pointer-events: auto;
  opacity: 0.6;
}
.hystmodal--active {
  opacity: 1;
}
.hystmodal--moved, .hystmodal--active {
  pointer-events: auto;
  visibility: visible;
}
.hystmodal__wrap {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.hystmodal__window {
  margin: 50px 0;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
  background: #fff;
  width: 600px;
  max-width: 100%;
  overflow: visible;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transform: scale(0.9);
  opacity: 0;
}
.hystmodal__close {
  position: absolute;
  z-index: 10;
  top: 0;
  right: -40px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath fill=%27%23fff%27 stroke=%27%23fff%27 stroke-linecap=%27square%27 stroke-miterlimit=%2750%27 stroke-width=%272%27 d=%27M22 2L2 22%27/%3E%3Cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27square%27 stroke-miterlimit=%2750%27 stroke-width=%272%27 d=%27M2 2l20 20%27/%3E%3C/svg%3E");
  background-size: 100% 100%;
  border: none;
  font-size: 0;
  cursor: pointer;
  outline: none;
}
.hystmodal__close:focus {
  outline: 2px dotted #afb3b9;
  outline-offset: 2px;
}

.hystmodal--active .hystmodal__window {
  transform: scale(1);
  opacity: 1;
}

@media all and (max-width: 767px) {
  .hystmodal__close {
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath fill=%27%23fff%27 stroke=%27%23111%27 stroke-linecap=%27square%27 stroke-miterlimit=%2750%27 stroke-width=%272%27 d=%27M22 2L2 22%27/%3E%3Cpath fill=%27none%27 stroke=%27%23111%27 stroke-linecap=%27square%27 stroke-miterlimit=%2750%27 stroke-width=%272%27 d=%27M2 2l20 20%27/%3E%3C/svg%3E");
  }
  .hystmodal__window {
    margin: 0;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
